@use "../../styles/variables" as *;

.chart-activity {
  .recharts-legend-wrapper .recharts-default-legend {
    margin-bottom: 60px !important;
    margin-right: 20px !important;

    .recharts-legend-item-text {
      font-size: 12px;
      fill: #9B9EAC;
    }
  }

  .recharts-cartesian-axis-tick-label tspan {
    font-size: 12px;
    fill: #9B9EAC;
  }

  &__tooltip {
    list-style: none;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: $primary-color;
    color: #FFFFFF;
  }
}
