html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  max-width: 100%;
}

.dashboard {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main";
  grid-template-columns: 120px 1fr;
  height: 100vh;
}

.header {
  grid-area: header;
  height: 100px;
}

.sidebar {
  grid-area: sidebar;
  height: calc(100vh - 100px);
}

.main-content {
  grid-area: main;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
