.icon {
  &--square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
  }
}
