.icon {
  &--square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 5px;
  }

  &--sm {
    padding: 15px;
  }

  &--xs {
    padding: 20px;
  }

  &--red {
    background-color: rgba(255, 0, 0, .1);
  }

  &--blue {
    background-color: rgba(74, 184, 255, .1);
  }

  &--yellow {
    background-color: rgba(249, 206, 35, .1);
  }

  &--pink {
    background-color: rgba(253, 81, 129, .1);
  }
}
